:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}
.container{
    display: flex;
    flex-direction: row;
    height: 900px; 
    text-align: center;
    font-weight: bolder;
    font-size: large;

    

}

#div1 {
    background: var(--purple);
    flex-basis: 500px;
}
#div2 {
    background: var(--light);
flex-basis:500px ;

    
}
#div3{
    background: var(--pink);

    flex-basis: 500px;

}

  
  