:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}
.container{
    display: flex;
    flex-direction: row;
}
#div1 {
    background: var(--purple);
    width: 33.33%;
    float: right;
    height: 900px;
}
#div2 {
    background: var(--light);
    width: 33.33%;
    float:left;
    height: 900px;
    
}
#div3{
    background: var(--pink);
    width: 33.33%;
    margin: 0 auto;
    height: 900px;
}

  
  