:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}
.item {
flex-direction: column;

}
h1{
    font-style:normal;
    font-weight: bolder;
    line-height: 50px;  
    
}
h2{
  font-size: 40px;
  
}
 .firstcolumn{
    float: left;
    width: 50%; 
    /* display: flex;
    justify-content: center;
    align-items: center;  */
 
}
   .secondcolumn{
     padding: 20px; 
     margin-top: 50px;
     margin-bottom: 50px;  
      display: flex;
     justify-content: center;
     align-items: center;
      

 }  
.row{
    content: "";
    display: table;
    clear: both;
    width: 100%;
    padding:50px;
    align-items: center;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    


}
  .img-flo{
   margin-top: 20px;
   margin-bottom: 20px;

}    

.firstcolumn h1{
    font-size: 40px;
    font-weight: bold;
}
  